<%= form_tag('lookups', method: 'post') do %>
  <% if @lookup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lookup.errors.count, "error") %> prohibited this lookup from being saved:</h2>

      <ul>
      <% @lookup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= text_field_tag :url, nil, placeholder: 'Paste link here!' %>
  </div>

  <div class="field display-none token-field">
    <%= label_tag "#{request.host_with_port}/" %>
    <%= text_field_tag :token %>
  </div>

    <% select_options = [['Shorten', :shorten], ['Shortify', :shortify], ['Custom', :custom]] %>
    <%= select_tag(:mode, options_for_select(select_options)) %>
  <div class="actions">
    <%= submit_tag 'Hit it!' %>
  </div>
<% end %>
